<!-- Bagian yang mirip Navbar -->
<div class="flex flex-row w-full h-14 pt-3">
  <!-- Kiri -->
  <div class="flex flex-row w-4/5">
    <h1 class="pl-5 pt-2 text-xs font-medium">Dashboard</h1>
    <h1 class="pl-2 pt-2 text-xs font-medium">/</h1>
    <h1 class="pl-2 pt-2 text-xs font-light">Overview</h1>
  </div>
  <!-- Kanan / Profil-->
  <div class="dropdown inline-block relative mb-2">
    <button class="flex w-full">
      <span class="flex mr-1">
        <div class="flex flex-row w-1/5 mb-2">
          <!-- Avatar -->
          <img class="flex w-16 my-auto mr-1" src="/assets/user_avatar.png" alt="">
          <!-- Nama -->
          <div class="flex flex-col my-auto ml-1">
            <h1 class="flex text-sm font-semibold"><%- user.fName %> <%- user.lName %></h1>
            <h1 class="flex text-xs"><%- user.email %></h1>
          </div>
        </div>
      </span>
    </button>
    <ul class="dropdown-menu absolute hidden text-black items-center">
      <li class="justify-center"><a class="w-44 rounded-b-xl hover:bg-green-200 py-2 px-4 block text-sm font-semibold justify-center" href="/signout">Sign Out</a></li>
    </ul>
  </div>
</div>

<div class="flex flex-col bg-[#DEE5D4] w-full">
  <!-- Tulisan Overview -->
  <div class="flex h-16">
    <h1 class="pt-4 pl-7 text-xl font-semibold">Overview</h1>
  </div>

  <!-- Bagian Card Project & Todo Task -->
  <div class="flex flex-row h-48 pl-10">
    <!-- Card 1 -->
    <div class="flex flex-col w-72 h-180px bg-white rounded-2xl p-3 shadow-2xl">
      <div class="flex flex-row my-2">
        <!-- <div class="flex w-1/6">
                  <img class="w-7 h-7 m-auto" src="/public/assets/logo_scrumin_nt.png" alt="">
              </div> -->
        <div class="flex rounded-full w-7 h-7 bg-slate-500">
          <h1 class="flex text-6 text-white m-auto"><%= projects[0].projectName[0].toUpperCase() %></h1>
        </div>
        <div class="flex w-5/6 items-center ml-2">
          <h1 class="text-sm font-semibold"><%= projects[0].projectName %></h1>
        </div>
      </div>
      <!-- description -->
      <div class="my-2 h-12">
        <p class="text-[8px] px-2 font-bold">
          <%= projects[0].projectDesc %>
        </p>
      </div>
      <!-- Progress Bar -->
      <!-- <div class="my-2 px-2 w-full">                       
              <div class="flex justify-between mb-1">
                  <span class="text-[8px] font-bold text-black">Progress</span>
                  <span class="text-[8px] font-bold text-black">10%</span>
              </div>
              <div class="w-full bg-gray-200 rounded-full h-1 dark:bg-gray-200">
                  <div class="bg-black h-1 rounded-full" style="width: 10%"></div>
              </div>
          </div> -->
    </div>

    <!-- Card 2 -->
    <div class="flex flex-col w-72 h-180px bg-white rounded-2xl p-3 ml-10 shadow-2xl">
      <div class="flex flex-row my-2">
        <!-- <div class="flex w-1/6">
                  <img class="w-7 h-7 m-auto" src="/public/assets/logo_scrumin_nt.png" alt="">
              </div> -->
        <div class="flex rounded-full w-7 h-7 bg-slate-500">
          <h1 class="flex text-6 text-white m-auto"><%= projects[1].projectName[0].toUpperCase() %></h1>
        </div>
        <div class="flex w-5/6 items-center ml-2">
          <h1 class="text-sm font-semibold"><%= projects[1].projectName %></h1>
        </div>
      </div>
      <!-- description -->
      <div class="my-2 h-12">
        <p class="text-[8px] px-2 font-bold"><%= projects[1].projectDesc %></p>
      </div>
      <!-- Progress Bar -->
      <!-- <div class="my-2 px-2 w-full">                       
              <div class="flex justify-between mb-1">
                  <span class="text-[8px] font-bold text-black">Progress</span>
                  <span class="text-[8px] font-bold text-black">50%</span>
              </div>
              <div class="w-full bg-gray-200 rounded-full h-1 dark:bg-gray-200">
                  <div class="bg-black h-1 rounded-full" style="width: 50%"></div>
              </div>
          </div> -->
    </div>

    <!-- Todo -->
    <div class="flex flex-row ml-10">
      <div class="flex flex-col w-[117px] h-[65px] bg-white rounded-xl pt-2 mr-6">
        <h1 class="flex text-[10px] font-bold justify-center">Task Todo</h1>
        <h1 class="flex text-[20px] justify-center"><%= tasksToDoCount %></h1>
      </div>
      <div class="flex flex-col w-[117px] h-[65px] bg-white rounded-xl pt-2 mr-6">
        <h1 class="flex text-[10px] font-bold justify-center">Task Doing</h1>
        <h1 class="flex text-[20px] justify-center"><%= tasksDoingCount %></h1>
      </div>
      <div class="flex flex-col w-[117px] h-[65px] bg-white rounded-xl pt-2 mr-6">
        <h1 class="flex text-[10px] font-bold justify-center">Task Done</h1>
        <h1 class="flex text-[20px] justify-center"><%= tasksDoneCount %></h1>
      </div>
    </div>
  </div>

  <!-- Tulisan Recent Task -->
  <div class="flex h-16 mt-2">
    <h1 class="pt-4 pl-7 text-sm font-semibold">Recent Task</h1>
  </div>

  <!-- Tabel Recent Task -->
  <div class="pl-10">
    <table class="table-auto text-center w-[1045px] text-black">
      <thead class="text-[10px] font-bold">
        <tr class="h-8">
          <th scope="col" class="text-left">Task Name</th>
          <th scope="col">Status</th>
          <th scope="col">Story Point</th>
          <th scope="col">Definition of Done</th>
          <th scope="col">Project Id</th>
        </tr>
      </thead>
      <tbody class="text-[10px]">
        <% tasks.forEach(e => { %>
        <tr class="h-8">
          <td class="text-left"><%= e.backlogName %></td>
          <td>
            <div id="targetWarna" class="h-[22px] w-[50px] m-auto">
              <h1 id="statusProject" class="m-auto"><%= e.backlogStatus %></h1>
            </div>
          </td>
          <td><%= e.storyPoint %></td>
          <td><%= e.definitionOfDone %></td>
          <td><%= e.projectId %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- <h3 class="text-2xl">You dont have any project</h3>
<div id="dialog" class="flex items-center justify-between p-5 w-1/4">
  <a href="/project/join-existing" class="p-1 rounded-sm bg-blue-500 text-slate-200">Join Existing Project</a>
  <a href="/project/create-new" class="bg-slate-500 p-1 text-slate-100 rounded-sm">Create a New One</a>
</div> -->